.a-combobox {
  position: relative;
  width: 100%;
}
.combobox {
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  position: relative;
}
.combobox:focus {
  border: 1px solid var(--main-color);
}
.combobox:hover .error-info
{
  display: block;
}
.error-info{
  top: -28px;
  left: -58px;
  text-align: center;
  background-color: #393a3d;
  padding: 5px 16px;
  width: max-content;
  border-radius: 4px;
  color: #ffff;
  position: absolute; 
  transform: translate(35px, 0);
  font-family: Roboto;
  display: none;
  z-index: 99;

}

.error-arrow{
  width: 7px;
  height: 7px;
  background-color: #393a3d;
  position: absolute;
  left: 50%;
  top: 88%;
  transform: translate(-50%,-50%);
  transform: rotate(45deg);
}
.input_content {
  position: relative;
}
.error-bg{
  background-color: #f34545;
  color: #fff;
}

.combobox__input {
  border: none;
  outline: none;
}
.combobox__input:focus {
  border: none;
}
.combobox__button {
   border: none;
  width: 30px;
  height: 100%;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  box-sizing: border-box;
  /* padding: 0 12px; */
  top: 0;
  right: 0;
  text-align: center;
  border-radius: 2px;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}
.combobox__button > i {
  font-size: 20px;
}
/* SubCombobox */
.combobox__data {
  top: 100%;
  width: 100%;
  position: absolute;
  max-height: 308px;
  overflow-y: auto;
  background-color: #fff;
  z-index: 9999;
  cursor: pointer;
  padding: 8px 12px;
  box-sizing: border-box;
  box-shadow: 0 4px 10px rgba(23, 27, 42, 0.24);
  margin-top: 0;
}
.combobox-item {
  display: flex;
  align-items: center;
  border-radius: 4px;
  width: 100%;
  height: 36px;
  padding: 0 8px;
  box-sizing: border-box;
}
.combobox-item:hover {
  color: var(--main-color);
  background-color: rgba(80, 184, 60, 0.1);
}
.combobox-item--active {
  color: #fff;
  background-color: var(--main-color);
}
.combobox-item--active.combobox-item:hover {
  color: #fff;
  background-color: var(--main-color);
}
.border-focus {
  border-color: var(--main-color);
}
#cbxDepartment {
  width: 100%;
}
.field--error {
  border: 1px solid #ff0000 !important;
}
/* Dropdown */

.dropdown{
  position: relative;
  height: 26px;
  background-color: #fff;
  border: 1px solid #f5f5f5;
}
.dropdown--active{
  border: 1px solid var(--main-color);
}
.dropdown__button{
  width: 30px;
  height: 26px;
  position: absolute;
  right: 0;
  top: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: #fff;
}
.dropdown__button:hover{
  cursor: pointer;
  background-color: #ECEEF1;
}
.iconBtndropdown{
  background: transparent url("../../../assets/img/Sprites.64af8f61.svg") no-repeat -551px -354px;
}
.dropdown__input{
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 10px;
  background-color: #fff;
  color: #000;
  border: 1px solid #E0E0E0;
}
.dropdown__data{
  width: 100%;
  position: absolute;
  top: -500%;
  display: flex;
  flex-direction: column;
  z-index: 999;
  box-shadow: 0 0 6px #ccc;
  box-sizing: border-box;
}
.drop-combobox-data{
  top: 29px!important;
}
.drop-combobox-input{
  min-width: 350px!important;
}
.dropdown-item{
  height: 28px;
  width: 100%;
  background-color: #fff;
  padding:0 12px;
  font-size: 13px;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.dropdown-item:hover{
  background-color: #ECEEF1;
  color: #2ca01c;
}
.item-select{
  background-color: #2ca01c;
  color: #fff;
}
/* Combobox */
.combobox{
  border-radius: 2px;
  height: 26px;
}
.combobox__input{
  border: none;
  height: 17px;

}
.combobox__button:hover {
  background: #ECEEF1;
 }
 
.btn-combobox-icon {
  width: 16px;
  height: 16px;
  z-index: 10;
  border: none;
  background:  
  url(http://localhost:8080/img/Sprites.64af8f61.2ff7618a.svg) no-repeat -560px -359px;
  transition: all 0.25s linear;

}
.combobox--disable{
  position: relative;
}
.combobox--disable::after{
  content: "";
  display: block;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 9;
  height: 100%;
  background: #e1e1e1  ;

  /* url(http://localhost:8080/img/Sprites.64af8f61.2ff7618a.svg) no-repeat -551px -354px; */
}
/* TABLE COMBOBOX */
