.input {
  height: 36px;
  /* min-width: 260px; */
  width: 100%;
  padding: 8px 8px 8px 12px;
  box-sizing: border-box;
  font-size: 13px;
  outline: none;
  border: 1px solid var(--border-color);
  font-family: "Roboto";
  border-radius: 4px;
  position: relative;
}
input {
  box-sizing: border-box;
}

input[type="checkbox"] {
  width: 16px;
  height: 16px;
}

input:focus {
  border: 1px solid var(--main-color);
}
label ~ * {
  margin-top: 8px;
}

.input--required {
  color: #ff0000;
}
.no-border {
  border: none;
}
.no-border-focus:focus {
  border: none;
}
.input--error,
.field--error {
  border: 1px solid #ff0000 !important;
}

.error-text {
  position: absolute;
  top: 58px;
  margin-top: 6px;
  font-size: 11px;
  width: 100%;
  color: #ff0000;
  word-wrap: break-word;
}
.input-wrapper {
  width: 100%;
  position: relative;
}
input[type="radio"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  /* Remove most all native input styles */
  appearance: none;
  /* For iOS < 15 */
  background-color: var(--form-background);
  /* Not removed via appearance */
  margin: 0;

  font: inherit;
  color: #50b83c;
  width: 1.15em;
  height: 1.15em;
  border: 1px solid #9e9e9e;
  border-radius: 50%;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
  margin-right: 8px;
  margin-top: 2px;
}
input[type="radio"] + input[type="radio"] {
  margin-left: 8px;
}
input[type="radio"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  /* Windows High Contrast Mode */
  background-color: #50b83c;
  outline: none;
}

input[type="radio"]:checked::before {
  transform: scale(1);
  border: 1px solid #50b83c;
}
input[type="radio"]:checked {
  outline: none;
  border: 1px solid #72c362;
}
/* check box  */
/* 
label {
  display: inline-block;
  color: #fff;
  cursor: pointer;
  position: relative;
}

label.check-box-effect {
  display: flex;
  align-items: center;
  position: relative;
  background-color: transparent;
  width: 14px;
  height: 14px;
  border: 2px solid #949090;
  border-radius: 10%;
}

label.check-box-effect:before {
  content: "";
  width: 0px;
  height: 2px;
  border-radius: 2px;
  background: #50b83c;
  position: absolute;
  transform: rotate(45deg);
  top: 5px;
  left: 3px;
  transition: width 50ms ease 50ms;
  transform-origin: 0% 0%;
}

label.check-box-effect:after {
  content: "";
  width: 0;
  height: 2px;
  border-radius: 2px;
  background: #50b83c;
  position: relative;
  transform: rotate(305deg);
  top: 9px;
  left: 4px;
  transition: width 50ms ease;
  transform-origin: 0% 0%;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked + .check-box-effect {
  background-color: #fff !important;
  border: 2px solid #50b83c;
}

input[type="checkbox"]:checked + .check-box-effect:after {
  width: 10px;
  background: #50b83c;
  transition: width 150ms ease 100ms;
}

input[type="checkbox"]:checked + .check-box-effect:before {
  width: 5px;
  background: #50b83c;
  transition: width 150ms ease 100ms;
} */
/*  */

label {
  display: inline-block;
  color: #fff;
  cursor: pointer;
  position: relative;
}

label .check-box-effect {
  display: flex;
  align-items: center;
  position: relative;
  background-color: transparent;
  width: 16px;
  height: 16px;
  border: 1px solid #949090;
  border-radius: 10%;
}

label .check-box-effect:before {
  content: "";
  width: 0px;
  height: 2px;
  border-radius: 2px;
  background: #50b83c;
  position: absolute;
  transform: rotate(45deg);
  top: 7px;
  left: 5px;
  transition: width 50ms ease 50ms;
  transform-origin: 0% 0%;
}

label .check-box-effect:after {
  content: "";
  width: 0;
  height: 2px;
  border-radius: 2px;
  background: #50b83c;
  position: absolute;
  transform: rotate(305deg);
  top: 11px;
  left: 6px;
  transition: width 50ms ease;
  transform-origin: 0% 0%;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked + .check-box-effect {
  background-color: #fff !important;
  border: 1px solid #50b83c;
}

input[type="checkbox"]:checked + .check-box-effect:after {
  width: 10px;
  background: #50b83c;
  transition: width 150ms ease 100ms;
}

input[type="checkbox"]:checked + .check-box-effect:before {
  width: 5px;
  background: #50b83c;
  transition: width 150ms ease 100ms;
}
