.input {
  height: 36px;
  /* min-width: 260px; */
  width: 100%;
  padding: 8px 8px 8px 12px;
  box-sizing: border-box;
  font-size: 13px;
  outline: none;
  border: 1px solid var(--border-color);
  font-family: "Roboto";
  border-radius: 4px;
  position: relative;
}
input {
  box-sizing: border-box;
}
input[type="checkbox"] {
  width: 16px;
  height: 16px;
}

input:focus {
  border: 1px solid var(--main-color);
}
label ~ * {
  margin-top: 8px;
}

.input--required {
  color: #ff0000;
}
.no-border {
  border: none;
}
.no-border-focus:focus {
  border: none;
}
.input--error,
.field--error {
  border: 1px solid #ff0000 !important;
}
.error-text {
  position: absolute;
  top: 60px;
  margin-top: 6px;
  font-size: 11px;
  width: 100%;
  color: #ff0000;
  word-wrap: break-word;
}
.input-wrapper {
  width: 100%;
}
/* input radio checked */
/* input[type="radio"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  width: 0;
  height: 0;
}
.radio-checkbox {
  position: relative;
  cursor: pointer;
  width: 18px;
  height: 18px;
  display: block;
  border-radius: 50%;
}
.radio-checkbox-border {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 1px solid #afafaf;
  background: #fff;
  z-index: 1;
  justify-content: center;
  display: block;
}
input[type="radio"]:checked + .radio-checkbox-checked {
  display: block;
  position: absolute;
  width: 10px;
  height: 10px;
  top: 4px;
  left: 4px;
  border-radius: 50%;
  background: #2ca01c;
} */
