.input {
  height: 36px;
  /* min-width: 260px; */
  width: 100%;
  padding: 8px 8px 8px 12px;
  box-sizing: border-box;
  font-size: 13px;
  outline: none;
  border: 1px solid var(--border-color);
  font-family: "Roboto";
  border-radius: 4px;
  position: relative;
}
input {
  box-sizing: border-box;
}

input[type="checkbox"] {
  width: 16px;
  height: 16px;
}

input:focus {
  border: 1px solid var(--main-color);
}
label ~ * {
  margin-top: 8px;
}

.input--required {
  color: #ff0000;
}
.no-border {
  border: none;
}
.no-border-focus:focus {
  border: none;
}
.input--error,
.field--error {
  border: 1px solid #ff0000 !important;
}
.input--error:focus {
  border: 1px solid #ff0000 !important;

}
.error-text {
  position: absolute;
  top: 58px;
  margin-top: 6px;
  font-size: 11px;
  width: 100%;
  color: #ff0000;
  word-wrap: break-word;
}
.input-wrapper {
  width: 100%;
  position: relative;
}

input[type="radio"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  /* Remove most all native input styles */
  appearance: none;
  /* For iOS < 15 */
  background-color: var(--form-background);
  /* Not removed via appearance */
  margin: 0;

  font: inherit;
  color: #50b83c;
  width: 1.15em;
  height: 1.15em;
  border: 1px solid #9e9e9e;
  border-radius: 50%;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
  margin-right: 8px;
  margin-top: 2px;
}
input[type="radio"] + input[type="radio"] {
  margin-left: 8px;
}
input[type="radio"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  /* Windows High Contrast Mode */
  background-color: #50b83c;
  outline: none;
}

input[type="radio"]:checked::before {
  transform: scale(1);
  border: 1px solid #50b83c;
}
input[type="radio"]:checked {
  outline: none;
  border: 1px solid #72c362;
}
/* check box  */

 .m-input-checkbox{
  display: none;
}

.m-checkbox-lable{
  width: 16px;
  height: 16px;
  display: inline-flex;
  border: 1px solid #afafaf;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
  transform: rotate(-90deg);
  transition: 0.2s;
  background-color: white;
}
.m-checkbox-lable.disabled{
  cursor: unset;
  background-color: #dfdfdf;
}
.m-checkbox-lable span{
display: inline-block;
width: 11px;
height: 8px;
  transform: rotate(-90deg);
/* transition: 0.1s; */
}
.m-input-checkbox:checked ~ .m-checkbox-lable span{
  background: url('../../../assets/img/Sprites.64af8f61.svg') no-repeat -899px -316px;
width: 11px;
height: 8px;
  /* transform: rotate(-90deg); */
}
.m-input-checkbox:checked ~ .m-checkbox-lable{
  transform: rotate(90deg);
}

