/* Dialog */

.dialog {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 99;
}
.dialog__content {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px;
  min-width: 400px;
  border-radius: 4px;
}
.dialog-content__header {
  width: 100%;
  font-size: 20px;
  font-weight: 700;
  text-align: left;
  justify-content: space-between;
}
.dialog-header__title {
  display: flex;
  flex-wrap: wrap;
  max-width: 280px;
  overflow: hidden;
  line-height: 24px;
}
.dialog-content__container {
  max-width: 400px;
  text-align: left;
  display: flex;
  flex-direction: column;
  padding: 24px 0;
}
.dialog-content__footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: 8px;
}
.dialog-mgs {
  padding: 4px;
  list-style: none;
  white-space: normal;
}

.dialog-warring-footer {
  justify-content: space-between;
}

/* Dialog Icon*/
.dialog__header-icon {
  background-position: -1171px -356px;
  cursor: pointer;
}
.dialog__container-icon {
  background-position: -538px -146px;
  margin-right: 16px;
}
.dialog__warning-icon {
  background-position: -593px -145px;
  margin-right: 8px;
}
.dialog__confirm-icon{
  background-position: -832px -462px;
  margin-right: 8px;
  
}

.dialog__error-icon {
  margin-right: 8px;
  background-position: -762px -146px;
}
